<% layout('/layouts/boilerplate.ejs') %>

    <div class="row mt-3" >
        <div class="col-8 offset-2">
    <h3>Edit New Listing</h3>
    <form method = "POST" action = "/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" >
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>   
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
            <div class="valid-feedback">
                Title looks goods
              </div>
              <div class="invalid-feedback">
                Please Enter tittle
               </div>
        </div>

        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable> 
            <textarea name="listing[description]" class="form-control"  required>
               <%= listing.description  %>
              </textarea>
              <div class="valid-feedback">
                Description looks goods
              </div>
              <div class="invalid-feedback">
                Please Enter Description
               </div>
        </div>
        
    
        <div class="mb-3">
            <lable for="image" class="form-label">Image Link</lable>
            <input
            name="listing[image]"
            value="<%= listing.image %>"
            type="text" class="form-control" required/>
            <div class="valid-feedback">
                Image-URL looks goods
              </div>
              <div class="invalid-feedback">
                Please Enter Valid URL
               </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="price" class="form-label">Price</lable> 
               <input name="listing[price]"  value="<%= listing.price %>"  type="number" class="form-control" required />
               <div class="valid-feedback">
                Price is Too Good
              </div>
              <div class="invalid-feedback">
                Please Enter Valid Price
               </div>
            </div>
            <div class="mb-3 col-md-8">
                <lable for="country" class="form-label">Country</lable>  
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required/>
                <div class="valid-feedback">
                    Country name looks goods
                  </div>
                  <div class="invalid-feedback">
                    Please Enter Valid Country
                   </div>
            </div>
        </div>
        
        <div class="mb-3">
            <lable for="location" class="form-label">Location</lable> 
                   <input
                    name="listing[location]"
                    value="<%= listing.location %>" 
                    type="text" class="form-control" required
                    />
                    <div class="valid-feedback">
                        Location looks goods
                      </div>
                      <div class="invalid-feedback">
                        Please Enter a Valid Location
                       </div>
        </div>
    
      
      <button class="btn btn-dark add-btn mt-3" >Edit</button>
    </form>
   
</div>
</div>

